html {
  scroll-behavior: smooth;
  transition: scroll-behavior 1s;
}
body {
  background: #1a2930;
  color: #cdc1c0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}

#fontMe {
  font-weight: 100;
  font-size: 2.5rem;
  color: #f7ce3e;
  line-height: 2;
}

.blurb h2 {
  color: #f7ce3f;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100vh;
}

#mainNavbar {
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 1px 1px white;
}

.parallax {
  background-image: url("imgs/beans-beverage-caffeine-cappuccino-585754.jpg");

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#viewport {
  height: 100vh;
}
.splashimg {
  height: 100vh;
  width: auto;
}

.moveDown {
  margin-top: 170px;
  color: #c5c1c0;
}

.services {
  height: 100vh;
}
.whiteicon {
  color: white;
}
.centerMe {
  margin: 0 auto;
}
.fa-python {
  color: #438496;
}

.fa-js {
  color: yellow;
}

.fa-html5 {
  color: red;
}

.fa-css3-alt {
  color: steelblue;
}
#bell {
  margin-left: 25px;
  color: white;
}

.card {
  float: left;
  width: 50px;
  background: #f7ce3e;
  color: #1a2930;
  margin-left: 45px;
  height: 200px;
  margin-top: 25vh;
}

.card-title {
  text-align: center;
}

#mainNavbar .nav-link {
  color: #0a1612;
}

#mainNavbar .nav-link:hover {
  color: #f7ce3f;
}

#mainNavbar .navbar-brand {
  color: #f7ce3f;
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}
.navbar-brand.scrolled {
  color: #d5d5d5;
  transition: background 500ms;
}

#headingGroup span {
  color: #f7ce3f;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.contact {
  height: 100vh;
}

h5 {
  text-shadow: 2px 2px black;
  background-color: black;
}
p > a {
  text-shadow: 2px 2px 1px black;
  background-color: black;
}
