html {
  scroll-behavior: smooth;
  transition: scroll-behavior 1s;
}
body {
  background: #1a2930;
  color: #cdc1c0;
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}

#fontMe {
  font-weight: 100;
  font-size: 2.5rem;
  color: #f7ce3e;
  line-height: 2;
}

.blurb h2 {
  color: #f7ce3f;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100vh;
}

#mainNavbar {
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  transition: background-color 1s;
}
.navColor {
  background-color: #111111;
}

.parallax {
  background-image: url("imgs/beans-beverage-caffeine-cappuccino-585754.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("imgs/beans-beverage-caffeine-cappuccino-585754.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#viewport {
  height: 100vh;
}
.splashimg {
  height: 100vh;
  width: auto;
}

.moveDown {
  margin-top: 170px;
  color: #c5c1c0;
}

.portfolio {
  display: flex;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.about-me {
  width: 80%;
  margin: 0 auto;
  min-width: 370px;
  background-color: #1a2930;
  padding-top: 25px;
  margin-top: 50px;
}
.img-responsive {
  width: 100%;
}

.portSection {
  width: 100%;
  background-color: white;
  border-top: 2px solid black;
  color: white;
}

.whiteicon {
  color: white;
}
.centerMe {
  margin: 0 auto;
}
.fa-python {
  color: #438496;
}

.fa-js {
  color: yellow;
}

.fa-html5 {
  color: red;
}

.fa-css3-alt {
  color: steelblue;
}
#bell {
  margin-left: 25px;
  color: white;
}

#mainNavbar .nav-link {
  color: white;
}

.card-style {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
}

#mainNavbar .nav-link:hover {
  color: #f7ce3f;
}

.gg-move-down {
  margin: 40px auto;
}
#mainNavbar .navbar-brand {
  color: #f7ce3f;
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}
.navbar-brand.scrolled {
  color: #d5d5d5;
  transition: background 500ms;
}

#headingGroup span {
  color: #f7ce3f;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

#headingGroup {
  margin: 0 auto;
}

.color {
  text-shadow: 2px 2px black;
  background-color: black;
}
p a {
  text-shadow: 2px 2px 1px black;
  background-color: black;
}
li {
  list-style: none;
}
.list-group {
  background: none;
}
.hovereffect {
  width: 100%;
  height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
